<link rel="stylesheet" href="@Html.CssUrl("profile.css")" />

<div class="container">
    <!-- step bar panel -->
    <div class="row">
        <div class="col-lg-12 profile-top">
            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="" src="@Html.ImageUrl("chris.png")">
                </div>
                <div class="useravatar">
                    <img class="card-bkimg" alt="" src="@Html.ImageUrl("chris.png")">
                </div>
                <div class="card-info"><span class="card-title">Pamela Anderson</span></div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="help-tab" class="btn btn-super" href="#tab2" data-toggle="tab">
                        <span class="fa fa-hand-paper-o fa-3" aria-hidden="true"></span>
                        <p class="hidden-xs">Help</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="give-tab" class="btn btn-super-low" href="#tab3" data-toggle="tab">
                        <span class="fa fa-hand-rock-o" aria-hidden="true"></span>
                        <p class="hidden-xs">Give</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="medals-tab" class="btn btn-super-low" href="#tab4" data-toggle="tab">
                        <span class="fa fa-trophy" aria-hidden="true"></span>
                        <p class="hidden-xs">Medals</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="store-tab" class="btn btn-super-low" href="#tab4" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <p class="hidden-xs">Store</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="history-help-tab" class="btn btn-super-low" href="#tab5" data-toggle="tab">
                        <span class="fa fa-history" aria-hidden="true"></span>
                        <p class="hidden-xs">History Help</p>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="history-give-tab" class="btn btn-super-low" href="#tab6" data-toggle="tab">
                        <span class="fa fa-history" aria-hidden="true"></span>
                        <p class="hidden-xs">History Give</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-12 profile-content">
            <div class="well">
                <div class="tab-content">
                    <div class="row tab-pane fade active in" id="tab2">
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="#" title="找西屯區超級抄抄人">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="article-21546-1.html" title="">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="article-21546-1.html" title="">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="article-21546-1.html" title="">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="article-21546-1.html" title="">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row tab-pane fade in" id="tab3">
                        <h3>This is tab 3</h3>
                    </div>
                    <div class="row tab-pane fade in" id="tab4">
                        <div class="col-lg-12 profile-list">
                            <div class="col-lg-2 profile_imgbox">
                                <a href="article-21546-1.html" title="">
                                    <img class="image-mission" src="@Html.ImageUrl("tag-maintain.svg")" />
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <div class="profile-content-detail">
                                    <a href="#" title="找西屯區超級抄抄人">找西屯區超級抄抄人</a>
                                    <span class="fire_left">2016-10-27 08:56:00</span>
                                    <p>葉君璋認為，每一個上場的球員，要有能力針對臨場狀況，做出各種贏球的判斷，「靈感來了，能夠創造球賽無限的可能性」。</p>
                                </div>
                                <div class="profile-content-info">
                                    <img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" />
                                    <span>x 15</span>
                                    <button class="btn btn-super pull-right">超人來囉 X5</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row tab-pane fade in" id="tab5">
                        <h3>This is tab 3</h3>
                    </div>
                    <div class="row tab-pane fade in" id="tab6">
                        <h3>This is tab 2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Carousel').carousel({ interval: 5000 });

    $(".btn-pref .btn").click(function () {
        $(".btn-pref .btn").removeClass("btn-super").addClass("btn-super-low");
        // $(".tab").addClass("active"); // instead of this do the below 
        $(this).removeClass("btn-super-low").addClass("btn-super");
    });
</script>


